<!DOCTYPE html>

<html lang="en">
  <%- include('elements/head') %>
  
  <body>
    <%- include('elements/header') %>

    <div class="jumbotron">
      <h1 class="display-4">Thanks, <%= name %>!</h1>
      <hr/>
      <p class="lead">Your opinion is very valuable to us. ;)</p>
      <a href="#" class="btn btn-success btn-lg">Latest offers</a>
    </div>

    <%- include('elements/scripts') %>
  </body>
</html>