<!DOCTYPE html>

<html>
  <%- include('elements/head') %>

  <body>
    <%- include('elements/header') %>

		<%- include('elements/title', {title: error}) %>

    <%- include('elements/scripts') %>
  </body>
</html>