<!DOCTYPE html>

<html lang="en">
  <%- include('elements/head') %>

  <body class="bg-light">
    <%- include('elements/header') %>

    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4"><i class="far fa-times-circle text-danger"></i> Some is wrong!</h1>
        <div class="my-5">
          <p class="lead"><%= error %></p>
        </div>
        <a class="btn btn-danger" href="/">Exit</a>
      </div>
    </div>

    <%- include('elements/scripts') %>
  </body>
</html>