<!DOCTYPE html>

<html lang="en">
	<%- include('elements/head') %>

	<body class="bg-light">
		<%- include('elements/header') %>

		<div class="container mt-5">
			<div class="jumbotron">
				<h1 class="display-4"><i class="fas fa-exclamation-circle text-danger"></i> Not Found</h1>
				<hr>
				<div class="my-5">
					<p class"lead">
						<strong>This page doesn't exist. Please, back to the homepage or try contact us.</strong>
					</p>
				</div>
				<a class="btn btn-danger text-white" href="/">Homepage</a>
				<a class="btn btn-info text-white" href="/">Contact</a>
			</div>
		</div>
	</body>
</html>