<!DOCTYPE html>

<html lang="en">
	<%- include('elements/head') %>

	<body>
		<%- include('elements/header') %>

		<div class="jumbotron">
			<h1 class="display-4">Not Found</h1>
			<hr>
			<p class"lead">Lorem ipsum</p>
			<a class="btn btn-danger text-white" href="/">Exit</a>
		</div>
	</body>
</html>