@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

/*
	Colors

	https://coolors.co/000000-006341-c9dcd1-f5e6e8-ffffff
*/

body {
	font-family: 'Cormorant Garamond', serif;
	background-color: #006341;
}
